<form method="post" action="{{ path('app_answer_delete', {'id': answer.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer cet objet?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ answer.id) }}">
    <button class="btn">Supprimer</button>
</form>
