{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réponse{% endblock %}

{% block body %}
    <h1>Créer nouvelle réponse</h1>

    {{ include('answer/_form.html.twig') }}

    <a href="{{ path('app_answer_index') }}">Retour à la liste</a>
{% endblock %}
