{% extends 'base.html.twig' %}

{% block title %}IQuestions
{% endblock %}

{% block body %}

	<main role="main" class="container">
		<div class="jumbotron text-center">
			<h1>Bienvenue sur IQuestions !</h1>
			<p class="lead text-info">Vous pouvez voir les quizz dans le
				<a href="jeu">fil d'actualité</a>
				, vous pouvez également vous inscrire pour pouvoir créer votre quizz.
            </p>
            <br>
            <br>
            <br>
            <p> Une idée ? contacter nous par mail ! </p>

		</div>
	</main>
{% endblock %}
