<form method="post" action="{{ path('app_play_delete', {'id': play.id}) }}" onsubmit="return confirm('Êtes vous sûr de supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ play.id) }}">
    <button class="btn">Supprimer</button>
</form>
