<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <p>IQuestions est un organisme à but non-lucratif qui vous permet de jouer en toute gratuité. </p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2022</span><span> </span><span>IQuestions</span><span>. </span><span>Tous droits réservés.</span></p>
            </div>
            <div class="col-md-4">
              <h5>Nous contacter</h5>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">IQuestions@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Divers</h5>
              <ul class="nav-list">
                <li><a href="/infos">À propos</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>