<form method="post" action="{{ path('app_quizz_delete', {'id': quizz.id}) }}" onsubmit="return confirm(Etes vous sûr de supprimer cet objet?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizz.id) }}">
    <button class="btn">Supprimer</button>
</form>
