{% extends 'base.html.twig' %}

{% block title %}Nouveau Quizz{% endblock %}

{% block body %}
    <h1>Créer nouveau Quizz</h1>

    {{ include('quizz/_form.html.twig') }}

    <a href="{{ path('app_quizz_index') }}">retour à la liste</a>
{% endblock %}
